@import './abstracts/_media_queries';

.art_cta {
    position: relative;
    z-index: 3;

    // &::before {
    //     content: "";
    //     background: url("../public/assets/img/cta-wave-2.png");
    //     position: absolute;
    //     z-index: 0;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     top: -2px;
    //     left: 40px;
    //     // width: 9%;
    //     // height: 285%;
    //     width: 170px;
    //     height: 255px;

    // }

    .art_call_to_action {
        width: 100%;
        min-height: 90px;
        padding: 25px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background: var(--ctaColor);
        // box-shadow: 0 4px 4px rgba(16, 53, 79, 0.29);
        z-index: 5;
        position: relative;

        .art_cta_content {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;

            @include mobile {
                flex-direction: column;
            }

            @include laptop {
                flex-direction: row;
            }

            .art_cta_header {
                display: flex;
                align-items: center;
                flex-direction: row;

                @include mobile {
                    flex-direction: column;
                }

                @include laptop {
                    flex-direction: row;
                }

                .art_cta_description {
                    width: 68%;
                    margin-left: 20px;
                    color: #fff;

                    @include mobile {
                        width: 100%;
                        text-align: center;
                        margin: 0;
                        margin-bottom: 20px;
                    }

                    @include laptop {
                        width: 68%;
                        text-align: left;
                        margin: 0;
                        margin-left: 20px;
                    }

                    .art_cta_desc_title {
                        margin-bottom: 5px;

                        * {
                            margin: 0;
                        }

                        @include mobile {
                            margin: 10px 0;
                        }

                        @include laptop {
                            margin: 0;
                            margin-bottom: 5px;
                        }

                    }

                    .art_cta_desc_content {
                        * {
                            margin: 0;
                            font-weight: 100;
                        }

                        margin: 5px 0;
                    }
                }
            }
        }

        .art_cta_action {
            margin: auto;

            @include mobile {
                min-width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            @include laptop {
                min-width: auto;
                display: block;
            }

            a {
                margin: auto;
                width: 100%;
                display: inherit;
                justify-content: inherit;
                align-items: inherit;
            }

            .art_cta_actionBtn {

                min-width: 115px;
                background-color: #fff;
                color: var(--primaryColor);

                @include mobile {
                    min-width: 80%;
                }

                @include laptop {
                    min-width: 115px;
                }
            }
        }


    }
}