.art_cta {
  position: relative;
  z-index: 3;
}

.art_cta .art_call_to_action {
  width: 100%;
  min-height: 90px;
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: var(--ctaColor);
  z-index: 5;
  position: relative;
}

.art_cta .art_call_to_action .art_cta_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.art_cta .art_call_to_action .art_cta_content .art_cta_header {
  display: flex;
  align-items: center;
}

.art_cta .art_call_to_action .art_cta_content .art_cta_header .art_cta_description {
  width: 68%;
  margin-left: 20px;
  color: #fff;
}

.art_cta .art_call_to_action .art_cta_content .art_cta_header .art_cta_description .art_cta_desc_title {
  margin-bottom: 5px;
}

.art_cta .art_call_to_action .art_cta_content .art_cta_header .art_cta_description .art_cta_desc_title * {
  margin: 0;
}

.art_cta .art_call_to_action .art_cta_content .art_cta_header .art_cta_description .art_cta_desc_content {
  margin: 5px 0;
}

.art_cta .art_call_to_action .art_cta_content .art_cta_header .art_cta_description .art_cta_desc_content * {
  margin: 0;
  font-weight: 100;
}

.art_cta .art_call_to_action .art_cta_action .art_cta_actionBtn {
  min-width: 115px;
  background-color: #fff;
  color: var(--primaryColor);
}
