@import url("/public/assets/fonts/tahoma.ttf");
@import "./abstracts/_vars";
@import './abstracts/_media_queries';

html {
  body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--bgColor);
    color: var(--tartieryColor);
    margin-top: var(--navHeight);

    @include mobile {
      margin-top: 67px;
    }

    @include laptop {
      margin-top: var(--navHeight);
    }

    .art_title {
      font-family: Tahoma, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;

      // @include mobile {
      //   text-align: center;
      // }

      // @include laptop {
      //   text-align: left;
      // }

      * {
        font-family: inherit;
        // font-size: 42px;
      }
    }

    .art_btn {
      border: none;
      padding: 1.05em;
      min-width: 10em;
      min-height: 3.1rem;
      background-color: var(--primaryColor);
      -webkit-box-shadow: rgba(225, 103, 115, 0.49) 0px 5px 20px 0px;
      box-shadow: rgba(225, 103, 115, 0.49) 0px 5px 20px 0px;
      -webkit-transition: -webkit-transform 2s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: -webkit-transform 2s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 2s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
      -webkit-transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
      -moz-transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
      -ms-transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
      -o-transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
      font-weight: 700;

      * {
        font-weight: inherit;
      }

      &:hover {
        -webkit-box-shadow: rgba(225, 103, 115, 0.257) 0px 3px 10px 0px;
        box-shadow: rgba(225, 103, 115, 0.257) 0px 3px 10px 0px;
        transform: translateY(-5%);
        -webkit-transform: translateY(-5%);
        -moz-transform: translateY(-5%);
        -ms-transform: translateY(-5%);
        -o-transform: translateY(-5%);
      }

      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 5em;
      -webkit-border-radius: 5em;
      -moz-border-radius: 5em;
      -ms-border-radius: 5em;
      -o-border-radius: 5em;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .container {
      margin: 0 auto;
      max-width: 1280px;
      width: 90%;

      @media only screen and (min-width: 601px) {
        width: 85%;
      }

      @media only screen and (min-width: 993px) {
        width: 70%;
      }
    }


    .art_nav {
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 10;

      &.fixed {
        position: fixed;
        top: -52px;
        box-shadow: 0px 1px 2px #c1d2da;

        @include mobile {
          top: 0;
        }

        @include laptop {
          top: -52px;
        }
      }

      .art_top_intro {
        background: #192c4c;
        color: #fff;
        padding: 10px;
        width: 100%;
        // min-height: var(--minNavHeight);
        // position: absolute;
        // top: 0;

        .art_contacts {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          a {
            display: inherit;
            -webkit-box-align: inherit;
            -ms-flex-align: inherit;
            align-items: inherit;
            margin-left: 10px;
            font-size: small;
            font-weight: 400;
          }
        }

        .art_social {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          a {
            display: inherit;
            -webkit-box-align: inherit;
            -ms-flex-align: inherit;
            align-items: inherit;
            margin-left: 10px;
            font-size: small;
            font-weight: 400;
            border: 1px solid rgba(255, 255, 255, 0.428);
            border-radius: 5em;
            -webkit-border-radius: 5em;
            -moz-border-radius: 5em;
            -ms-border-radius: 5em;
            -o-border-radius: 5em;
            padding: 0.4em;
          }
        }

        .container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
        }
      }

      .art_bar {
        background-color: #fff;
        height: 80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-height: 90px;
        width: 100%;
        // position: absolute;
        // top: var(--minNavHeight);
        // &.fixed{
        //   position: fixed;
        //   top: 0;
        //   box-shadow: 0px 1px 2px #c1d2da;
        // }
        @include mobile {
          height: 67px;
          position: fixed;
          box-shadow: 0px 1px 2px #c1d2da;
          top: 0;
        }
        @include laptop {
          position: relative;
          top: auto;
          box-shadow: none;
          height: 80px;
        }

        // padding: 0 20px;
        .art_bar_wrapper {
          display: inherit;
          -webkit-box-pack: inherit;
          -ms-flex-pack: inherit;
          justify-content: inherit;
          height: 100%;
        }

        .art_menu_burger {
          margin: auto 2px auto 0;

          .art_burger_btn {
            border: none;
            outline: none;
            background-color: rgba(0, 0, 0, 0);
            vertical-align: bottom;
            cursor: pointer;
          }
        }

        .art_logo {
          width: 170px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
        }

        .art_menu {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          height: 100%;

          .art_menu_wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 100%;

            >ul {
              display: inherit;
              -webkit-box-align: inherit;
              -ms-flex-align: inherit;
              align-items: inherit;
              margin: 0;
              padding: 0;
              height: 100%;

              @include mobile {
                display: none;
              }

              @include laptop () {
                display: inherit;
              }
            }

            .art_menu_item {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              margin-right: 10px;
              padding: 10px;
              list-style: none;
              height: 100%;
              position: relative;
              cursor: pointer;

              &.art_is_multiple {
                position: static;
              }

              .art_menu_dropdown {
                display: inherit;
                height: inherit;
                -webkit-box-align: inherit;
                -ms-flex-align: inherit;
                align-items: inherit;
              }

              .art_menu_dropdown_container {
                position: absolute;
                margin: 0;
                padding: 0;
                min-width: 220px;
                top: 80px;
                left: 0%;
                background-color: #b9bbbe61;
                background: -o-linear-gradient(332deg, #eeeeeedb, #fff4f4b5);
                background: linear-gradient(118deg, #eeeeeedb, #fff4f4b5);
                -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
                padding: 0;
                display: none;
                border-radius: 0 0 15px 15px;
                cursor: auto;

                &.art_show {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
                  -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                  justify-content: space-between;

                  &.art_multiples {
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                    flex-direction: row;
                  }
                }


                &.art_multiples {
                  top: 132px;
                  width: 95%;
                  left: 2.5%;
                  max-height: 80vh;
                  overflow: auto;

                  .art_multiples_wrapper {
                    width: 12%;
                    margin: 0 5px 0 -4px;
                    padding: 5px;
                    border-right: 1px solid #d4d4d4;
                    cursor: auto;

                    &:last-of-type {
                      border: none;
                    }

                    .art_multiples_title {

                      padding: 10px;

                      * {
                        margin: 0;
                      }
                    }

                    .art_multiples_lists {
                      margin: 1px 0 10px;
                      padding: 0;
                    }
                  }

                }

                .art_list {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  // margin: 10px 0;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  min-height: 40px;
                  width: 100%;
                  padding: 0 10px;
                  border-bottom: 1px solid rgba(204, 204, 204, 0.2);
                  -webkit-transition: .2s linear;
                  -o-transition: .2s linear;
                  transition: .2s linear;

                  a {
                    padding: 5px;
                    width: 100%;
                    height: 100%;
                  }

                  &:hover {
                    background-color: #b2b2b27e;
                    color: var(--primaryColor);
                  }
                }
              }
            }
          }
        }
      }
      .art_nav_btn {
        @include custom-max ("max-width:375px") {
          display: none;
        }
        @include custom-max ("max-width: 393px") {
          display: none;
        }
      }
    }

    .art_img_co {
      width: 100%;
      position: relative;
      min-height: 65vh;

      @include mobile {
        min-height: 80vh;
      }

      @include laptop {
        min-height: 65vh;
      }
    }

    .art_wave_el {
      position: relative;
      z-index: 5;

      .art_wave_co {
        position: absolute;
        bottom: -4px;
        width: 100%;
        overflow: hidden;

        @include mobile {
          bottom: -5px;
        }

        @include laptop {
          bottom: -4px;
        }

        svg {
          width: 100%;
        }

        &.art_is_down {
          bottom: -84px;

          @include mobile {
            bottom: -83px;
          }

          @include laptop {
            bottom: -84px;
          }
        }

        &.art_is_top {
          top: -79px;
          bottom: auto;

          @include mobile {
            bottom: -83px;
          }

          @include laptop {
            bottom: -84px;
          }
        }

        &.art_is_foot {
          top: -79px;

          @include mobile {
            top: -56px;
            bottom: 0;

            svg {
              width: 148%;
              left: -97px;
              position: relative;
            }
          }

          @include laptop {
            top: -79px;
            bottom: auto;

            svg {
              width: 100%;
              left: 0px;
              position: relative;
            }
          }
        }
      }
    }

    .art_section {
      padding: 2em 0;
    }

    .slick-arrow {
      z-index: 1;
      // padding: 20px;
      background-color: rgba(172, 172, 172, 0.4);
      font-family: inherit;
      opacity: 0.65;
      width: 53px;
      height: 53px;
      line-height: 1.5;
      border-radius: 5rem;
      overflow: hidden;
      transition:  2s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        background-color: #192c4c;
        opacity: 1;

      }

      &.slick-next {
        right: 33px;

        &::before {
          content: "";
          display: none;
        }
      }

      &.slick-prev {
        left: 33px;

        &::before {
          content: "";
          display: none;
        }
      }
    }

    .art_quick_reviews {
      .slick-initialized {
        .slick-arrow {
          background-color: #192c4c;
        }

        .slick-list {
          padding: 0em;
          min-height: 365px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;

          .slick-track {

            display: flex;
            // flex-wrap: wrap;
            justify-content: center;

            .slick-slide {
              >div {
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }
    }

    .art_input_co {
      margin: 0 0 5px;
      margin: 0 0 5px;
      background: #22272a;
      border: 0;
      color: aliceblue;
      -webkit-box-shadow: inset 0 1px 1px 0px #333;
      box-shadow: inset 0 1px 1px 0px #333;
      height: 3.5rem;
      padding: 0;
      overflow: hidden;
      border-radius: 1em;

      .art_input {
        padding: 10px 15px;
        outline: none;
        margin: 0;
        border: 0;
        width: 100%;
        height: 100%;
        background: rgba(240, 248, 255, 0);
        color: inherit;
      }
    }

    .art_development {
      padding: 2rem 0;

      .art_title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
        text-align: center;
        color: #3b5460;

        * {
          font-size: inherit;
          font-weight: inherit;
        }
      }

      .art_description {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 2rem;
        text-align: center;
        color: #3b5460;

        * {
          font-size: inherit;
          font-weight: inherit;
        }
      }

      .art_dev-co {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50%;
        margin: 5rem auto;
      }
    }

    .art_show-small {
      display: none;

      @include mobile {
        display: block;
      }

      @include laptop () {
        display: none;
      }
    }

    .art_show-large {
      display: block;

      @include mobile {
        display: none;
      }

      @include laptop () {
        display: block;
      }
    }
  }


  /**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // font-weight: 400;
    line-height: 1.3;
  }

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-weight: inherit;
  }

  h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
  }

  h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 2.3733333333rem 0 1.424rem 0;
  }

  h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
  }

  h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.52rem 0 0.912rem 0;
  }

  h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 0.656rem 0;
  }

  h6 {
    font-size: 1.15rem;
    line-height: 110%;
    margin: 0.7666666667rem 0 0.46rem 0;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 500;
  }

  small {
    font-size: 75%;
  }

  .light {
    font-weight: 300;
  }

  .thin {
    font-weight: 200;
  }

  p {
    line-height: 1.5em;
  }
}