.art_sec {
  background: url("../public/assets/img/brazcom/brazcon-bg1.png");
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 320px) {
  .art_sec {
    padding: 4rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .art_sec {
    padding: 8rem 0;
  }
}

.art_sec::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 320px) {
  .art_sec::before {
    background: linear-gradient(0deg, rgba(2, 3, 20, 0.71), transparent);
  }
}

@media screen and (min-width: 1024px) {
  .art_sec::before {
    background: transparent;
  }
}

.art_sec .art_choose_us_co {
  text-align: center;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.art_sec .art_choose_us_co .art_desc {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .art_sec .art_choose_us_co .art_desc {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .art_sec .art_choose_us_co .art_desc {
    width: 80%;
  }
}

.art_sec .art_choose_us_co .art_desc * {
  font-weight: 100;
}

.art_sec .art_choose_us_co .art_title {
  text-align: center;
  width: 100%;
}

.art_sec .art_choose_us_co .art_action {
  margin-top: 1em;
}

.art_sec .art_choose_us_co .art_action .art_btn {
  min-width: 23%;
}
