@import './abstracts/_media_queries';

.art_sec {
    background: url("../public/assets/img/brazcom/brazcon-bg1.png");
    background-attachment: fixed;
    background-size: cover;
    min-height: 80vh;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include mobile {
        min-height: 130vh;
    }

    @include laptop {
        min-height: 80vh;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        @include mobile {
            background: linear-gradient(0deg, rgba(2, 3, 20, 0.71), transparent);
        }
    
        @include laptop {
            background: transparent;
        }
    
        // background: linear-gradient(0deg, rgba(2, 3, 20, 0.71), transparent);
    }

    .art_choose_us_co {
        text-align: center;
        position: relative;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .art_desc {
            width: 80%;
            margin: 0 auto;

            @include mobile {
                width: 100%;
            }

            @include laptop {
                width: 80%;
            }


            * {
                font-weight: 100;
            }
        }
        .art_title {
            text-align: center;
            width: 100%;
        }

        .art_action {
            margin-top: 1em;

            .art_btn {
                min-width: 23%;
            }
        }
    }
}